.wrapper {
    background-color: #000080;
    color: #f2f2f2;
}
.header{
    background-color: #e60000;
}
.nav{
    background-color: #009999;
}
.main{
    background-color: black;
}
.footer{
    background-color: gray;
}
span{
    color: #3333cc;
}
/* a{
    color:
} */