.wrapper {
    background-color: #000080;
    color: #f2f2f2;
    width: 950px;
}
.header{
    background-color: #e60000;
    height: 150px;
}
.nav{
    background-color: #009999;
    height: 300px;
    width: 200px;
}
.main{
    background-color: black;
    width: 650px;
}
.footer{
    background-color: gray;
}
span{
    color: #3333cc;
}